$color-accent: #5E2659

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(80)
$hero-background-color: none
$footer-background-color: none
$footer-logo-height-desktop: pxToRem(80)